{% extends 'base/base.html' %}

{% block title %}
    LISTA DE AREA COMUN
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../../static/css/formularios-style.css">
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <h1 class="text-center">Lista de Areas Comunes</h1>
        <a href="{% url 'areaComun:registrar_areaComun' %}"
           class="btn btn-dark btn-lg mb-2">Nueva Area</a>

        <div class="container">
            <div class="form-group row">
                <select name="" id="" class="form-control col-12 col-sm-3 col-md-2 p-0 mr-sm-1 mb-1">
                    <option value="nombre">Nombre Area</option>
                    <option value="app">Sector</option>
                    <option value="apm">Estado</option>
                </select>

                <input class="form-control col-12 col-sm-6 col-md-4 mr-sm-1" id="buscar" type="Buscar" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" onclick="inicio()">Buscar</button>
    {#                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
            </div>
        </div>

        <div class="row">
            <div class="table-responsive col-12">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr class="text-center">
                            <th nowrap="true" scope="col">Nro.</th>
                            <th nowrap="true" scope="col">Nombre</th>
                            <th nowrap="true" scope="col">Sector</th>
                            <th nowrap="true" scope="col">Disp. Desde</th>
                            <th nowrap="true" scope="col">Disp. Hasta</th>
                            <th nowrap="true" scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if areaComun %}
                        {% for areaComun in areaComun %}
                            <tr>
                                <th scope="row" class="text-center">{{ areaComun.id }}</th>
                                <td>{{ areaComun.nombre }}</td>
                                <td class="text-center">{{ areaComun.sector }}</td>
                                <td class="text-center">{{ areaComun.disp_desde }}</td>
                                <td class="text-center">{{ areaComun.dip_hasta }}</td>
                                <td nowrap="true" class="text-center">
                                    <a href="{% url 'areaComun:detalle_areaComun' areaComun.id %}" class="btn btn-info">Detalle</a>
                                    <a href="{% url 'areaComun:editar_areaComun' areaComun.id %}" class="btn btn-warning">Editar</a>
                                    <a href="{% url 'areaComun:eliminar_areaComun' areaComun.id %}" class="btn btn-danger"> Eliminar</a>
                                </td>
                            </tr>
                    {% endfor %}
                    {% else %}
                        <h2>No hay Areas Comunes Registradas!</h2>
                    {% endif %}
                    </tbody>
                </table>
            </div>

            <div class="d-flex flex-wrap justify-content-center">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}"
                           class="btn btn-dark btn-lg mr-1">Anterior</a>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}"
                           class="btn btn-success btn-lg ml-1">Siguiente</a>
                    {% endif %}
            </div>
        </div>
    </div>
{% endblock %}